html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a8a8a8;
}

form table {
    background-color: white;
    width: fit-content;
    height: fit-content;
}

label input {
    width: 90%;
    height: 100%;
}

td button {
    width: 80px;
    height: 100%;
}